/* this will modify the way things appear in my schedule */

table {
 border-collapse: collapse;	
 text-align: center;
	
}


/* this should change the appearance of or colour of the boxes that make up my table */

body {
 background-color: CadetBlue;
 color: Black;
 font-size: 14px;
 /* this will change the appearance of the body */
 font-family: Helvetica;
 }
 
tr {
	height:100px;
	width: 40px;	
} 

th {
background-color: BurlyWood;	
	
/* this code will allow whatever box your mouse is on to turn into a different shade of blue */	
}
 
td:hover {
background-color: CornflowerBlue;}

h1 {
text-align: center;
}

