 h1 {
	 
	text-align: center;
	color: blue;
	 
 }
 
 p {
	 text-align: left;
 }

 .navigation {
	background-color: black;
	color: white;
	border: 0;
    font-size: 17px;	
    padding: 14px 16px;
    width: 40px;
	text-align: center;
 } 
 
 html {
	 
	 background-color: green;
 }