table {
 border-collapse: collapse;	
 text-align: center;
	
}




body {
 background-color: CadetBlue;
 color: Black;
 font-size: 14px;
 font-family: Helvetica;
 }
 
tr {
	height:100px;
	width: 40px;	
} 

th {
background-color: BurlyWood;	
	
	
}
 
td:hover {
background-color: CornflowerBlue;}

h1 {
text-align: center;
}

