 h1 {
	 
	text-align: center;
	color: blue;
	 
 }
 
 h2 {
	color: #3333CC; 
	 
	 
 }
 
 
 
 p {
	 text-align: left;
	 font-family: arial;
	 color: darkblue;
	 text-align: center;
 }

 .navigation {
	background-color: black;
	color: white;
	border: 0;
    font-size: 17px;	
    padding: 14px 16px;
    width: 100%;
	text-align: center;
	float: center;
	overflow: hidden;
	
 } 
 
 html {
	 
	
 }
 
 .pictures {
	 
height: 300px;
width: 300px;	 
text-align: center;	 
 }