/* this is my css page for the about page, which I used to modify the color, font, among other things on this page */


p {
	color: blue;
	text-align: center;
	font-size: 35px;
	font-family: arial;
	
}


.navigation {
	background-color: black;
	color: white;
	border: 0;
    font-size: 17px;	
    padding: 14px 16px;
    width: 100%;
	text-align: center;
	float: center;
	overflow: hidden;
	display: block;
	font-family: monospace;
	
}


h1 {
	
	text-align: center;
	color: blue;
}